# os
.DS_Store
Thumbs.db

# editors
.idea/
.vs/
.vscode/
*.swp
*.swo
*~

# node
node_modules/
npm-debug.log
yarn-error.log
.pnpm-debug.log

# rust
target/
Cargo.lock

# .net
bin/
obj/
*.user
*.suo

# python
__pycache__/
*.pyc
.venv/

# general
log/
*.log
*.bak
*.tmp
