[include]
  # include personal details
  path = .gitconfig-personal

[includeIf "gitdir:~/work/"]
  # configure work details
  path = .gitconfig-work

[core]
  editor = nvim
  pager = delta
  excludesfile = ~/.gitignore

[fetch]
  prune = true

[pull]
  ff = only

[merge]
  conflictstyle = zdiff3

[diff]
  algorithm = histogram
  colorMoved = default

[interactive]
  diffFilter = delta --color-only

[delta]
  # use n and N to move between diff sections
  navigate = true
  true-color = always
  keep-plus-minus-markers = false
  hyperlinks = true

[gpg]
  format = ssh

[commit]
  gpgsign = true

[tag]
  gpgsign = true
